@font-face {
  font-family: "eve-sans-neue";
  src: url("/src/assets/fonts/evesansneue-regular.woff2") format("woff2");
}

@font-face {
  font-family: "eve-sans-neue";
  src: url("/src/assets/fonts/evesansneue-bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "eve-sans-neue-condensed";
  src: url("/src/assets/fonts/evesansneue-condensed.woff2") format("woff2");
}

@font-face {
  font-family: "eve-sans-neue-condensed";
  src: url("/src/assets/fonts/evesansneue-condensedbold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "eve-sans-neue-expanded";
  src: url("/src/assets/fonts/evesansneue-expanded.woff2") format("woff2");
}

@font-face {
  font-family: "eve-sans-neue-expanded";
  src: url("/src/assets/fonts/evesansneue-expandedbold.woff2") format("woff2");
  font-weight: bold;
}

:root {
  font-family: eve-sans-neue-expanded, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: dark;
  color: #bfbfbf;
  background-color: #060a0c;



  font-synthesis: weight style;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
